<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{.SiteName}} - SCBlog</title>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
<header class="header">
    <div class="container">
        <h2><a href="/" target="_blank">{{.SiteName}}</a><small>{{.SubTitle}}</small></h2>
        <nav class="xs-hide">
            <a class="active" href="/admin"><i class="fa fa-home"></i> 首页</a>
            <a href="/admin/new"><i class="fa fa-pencil"></i> 新建文章</a>
            <a href="/admin/redirect"><i class="fa fa-link"></i> 内链管理</a>
            <a href="/admin/setting"><i class="fa fa-gear"></i> 系统设置</a>
            <a href="/admin/logout"><i class="fa fa-power-off"></i> 退出登录</a>
        </nav>
        <i class="fa fa-list fa-2x xs-show" id="open-menu"></i>
    </div>
</header>
<div class="error container hide">
    <span>出现错误！</span>
    <div class="msg"></div>
</div>
<section class="post-list container">
    {{range .Lists}}
    <article>
        <header><h2>{{.Caption}}<small>{{.Type}}</small></h2></header>
        <section><p>{{Preview .Html 150}}</p></section>
        <footer><a href="javascript:if(confirm('您真的要删除此文章么?'))Del('{{.Id | GetId}}');">删除</a> | <a href="/admin/edit/{{.Id | GetId}}">修改 >></a></footer>
    </article>
    {{end}}
</section>
{{if .paginator}}
{{if gt .paginator.PageNums 1}}
<section class="container">
    <ul class="pagination pagination-center">
        {{if .paginator.HasPrev}}
        <li><a href="{{.paginator.PageLinkFirst}}">首页</a></li>
        <li><a href="{{.paginator.PageLinkPrev}}">上一页</a></li>
        {{end}}
        {{range $index, $page := .paginator.Pages}}
        {{if $.paginator.IsActive .}}<li><a href="javascript:;" class="active">{{$page}}</a></li>{{else}}<li><a href="{{$.paginator.PageLink $page}}">{{$page}}</a></li>{{end}}
        {{end}}
        {{if .paginator.HasNext}}
        <li><a href="{{.paginator.PageLinkNext}}">下一页</a></li>
        <li><a href="{{.paginator.PageLinkLast}}">尾页</a></li>
        {{end}}
    </ul>
</section>
{{end}}
{{end}}
<footer class="footer">
    <p>&copy;2013双擦 让我们一起来双擦吧！。</p>
</footer>
<a href="javascript:;" class="fa fa-arrow-circle-up fa-3x" id="go-top"></a>
</body>
<script src="/static/js/jquery.min.js"></script>
<script>
function Del(id){
    if(id != ''){
        $.get('/admin/del/' + id, function(result){
            if(result.error != '0'){
                $('.msg').html(result.error)
                $('.error').show();
            }else{
                window.location = '';
            }
        });
    }
}

function clickOrTouch(touchType){
    return this.mouseOrTouch("click", touchType);
}

function mouseOrTouch(mouseType, touchType) {
    mouseType = mouseType || "click";
    touchType = touchType || "touchend";

    var eventType = mouseType;

    try {
        document.createEvent("TouchEvent");
        eventType = touchType;
    } 
    catch(e) {} 

    return eventType;
}

$(function(){
    $("#open-menu").bind(clickOrTouch(), function() {
        $("nav").toggleClass("xs-hide");
    });

    $(window).bind('scroll',function(){
        var scrollTop = $(window).scrollTop();
        if(scrollTop > 100)
            $('#go-top').show();
        else
            $('#go-top').hide();
    });

    $('#go-top').click(function(){
        $('html,body').animate({
            scrollTop: '0px'
        }, 800);
    });
});
</script>
</html>