body{margin:0;padding:0;text-align:left;height: 100%;}
#go-top {position: fixed;bottom: 10%;right: 10%;z-index: 999;display: none;-webkit-transition: all 300ms ease-out;transition: all 300ms ease-out;}
#go-top:hover {color: #2989D6 !important;}

/** header **/
header>nav{float:left;position:relative;clear:both;margin-top:-40px;}
header .blog-menu{margin:0;padding:0;}
.top{margin:40px 0 80px;text-align:center;}
.top img{border:1px solid #EFEFEF;}
.top h1{margin:0;margin-top: 10px;font-weight: bold;font-size: 32px;}
.top h2{font-style: italic;font-size: 16px;color: #bbb;font-weight: normal;}

/** home **/
.post-list{margin:0 auto;max-width: 720px;}
.post-list article{padding-bottom:50px;margin-bottom:50px;border-bottom:1px #ddd dashed;}
.post-list article:last-child {border-bottom: 0;}
.post-list header{font-family: "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", "Droid Sans", "wenquanyi micro hei", Helvetica, Tahoma, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif !important;font-size: 26px;font-weight: bold;margin-bottom: 10px;text-decoration: none;color: #4A4A4A;display: block;}
.post-list header>a:hover{color:#BBB;}
.post-list section{font-family: 'OpenSansRegular' !important;display: inline-block;letter-spacing: 0.5px;line-height: 28px;font-size: 16px;margin-top: 10px;color: #666;}
.post-list section .cover{color: #fff;width: 100%;height: 280px;border-radius: 6px;border: 1px solid #ddd;box-sizing: border-box;margin-bottom: 20px;}
.post-list section p{text-indent: 21pt;}
.post-list footer{margin-top:10px;}
.post-list .author{margin:0 10px;}
.post-list .tags{float:right;margin-right:10px;}
.post-list .tags a{display:block;float:left;padding:0 5px;}
.page{max-width: 720px;margin-bottom:30px;}
.notsearch{text-align:center;font-size:32px;padding-bottom:50px;}

/** view **/
.menu{float:left;position:relative;clear:both;margin-top:0;}
.article{margin:0 auto;max-width:720px;padding:100px 30px;}
.article h1{font-weight:bold;font-size: 32px;}
.article .info{margin:10px 0 50px;}
.article .author{margin:0 10px;}
.article .tags{margin-left:20px;}
.article .tags a{padding:0 5px;}
.article article{font-size:16px;padding-bottom:50px;margin-bottom:50px;border-bottom:1px #ddd dashed;}
.article article blockquote {border-left: 3px #6b6b6b solid;padding: 0px 10px 0px 20px;margin: 25px 0;margin-left: -23px;}
.article article img{margin: 30px auto;max-width: 100%;border: 1px solid #eee;display: block;opacity: 0.2;transition: opacity 0.3s ease-in;cursor: pointer;}
.article footer{margin:50px 0;overflow: auto;}
.article footer section{width: 100%;}
.article footer section span{font-size: 12px;font-style: italic;margin-bottom: 10px;color: #c4c4c4;text-align: center;}
.article footer section a{color: #4A4A4A;text-align: center;display: block;font-size:14px;}
.article footer section:first-child{width: 45%;text-align: left;float: left;}
.article footer section:first-child a{text-align:left;}
.article footer section:last-child{width: 45%;text-align: right;float: right;}
.article footer section:last-child a{text-align:right;}
.editormd-html-preview{width:100%;padding:0 0 50px 0 !important;margin:0;}

/** comment **/
.comment{max-width:720px;margin:0 auto;margin-bottom:50px;padding:20px 30px;}
.article-pagination{margin-top:30px;max-width:720px;}

/** footer **/
.footer{padding:30px 0 50px;width: 100%;font-size: 14px;border-top: 1px #EEE solid;color: #BBB;clear: both;position: relative;height: 32px;text-align:center;}